

$primary: #5d78ff;
$secondary: #495058;
$info: #DE9F54;
$light: #f3f5f7;
$dark: #111315;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

$mainColor: whitesmoke;

* {
  box-sizing: border-box
}


body {
  font-family: 'Open Sans', sans-serif;
  font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: .5rem 1rem;
}

.content {
  padding: 10px;
  min-height: calc(100vh - 10em);
  display: flex;
  flex-direction: column;
}


//#region GLOBAL CUSTOM CLASSES
.email_input, .button_subscribe {
  border-radius: 10rem;
}

//#endregion

// #region FEATURES-ICONS SECTION
.features-icons {
  padding-top: 5rem;
  padding-bottom: 5rem;

  h3 {
    font-size: 1.5rem;
  }

  .lead {
    font-size: 1.12rem;
  }
}

.features-icons .features-icons-item {
  max-width: 30rem;
  max-height: 30rem;
  background: $primary;
  height: 100%;
  padding: 40px;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem
}

//#endregion

//#region TEXT RELATED
.lead {
  font-size: 1.25rem;
  font-weight: 300;
  color: #637381;
}

.text-center {
  text-align: center;
}

.text-white {
  color: white;
}

.font-weight-600 {
  font-weight: 600;
}
//#endregion

//#region JUMBOTRON
#jumbotron {
  background-color: #5d78ff;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 8rem;
  margin-bottom: 0;
  min-height: 50vh;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;

  .col-left {
    margin-left: 0;
  }
}

#jumbotron::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 0;
  border-right: 100vw solid white;
  border-top: 200px solid transparent;
  width: 0;
  z-index: 0;
}

#jumbotron h1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1px;
}

#header_container {
  max-width: 1020px;
}

#header_button {
  height: 100%;
  font-size: 1rem;
  background-color: white;
}

@media (min-width: 768px) {
  #header_button {
    height: 100%;
    font-size: 1rem;
    width: 9rem;
  }
}

@media (min-width: 1200px) {
  #jumbotron {
      padding-top:12rem;
      padding-bottom: 12rem;

      .col-left {
        margin-left: 15rem;
      }
  }

  #jumbotron h1 {
      font-size: 4rem
  }

  #header_button {
    height: 100%;
    font-size: 1rem;
  }

}

@media (min-width: 1600px) {
  #header_container {
    max-width: 1200px;
  }
}


//#endregion

//#region SHOWCASE
.showcase {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  h2 {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: -1px;
  }
  
  .showcase-text {
    padding: 5rem
  }

  .showcase-img {
    width: 70%;
  }

  .showcase-col-img {
    display: flex;
    align-items: center;
  }

  .showcase-row {
    margin-left: 0;
    margin-right: 0;
  }
}

@media(min-width: 768px){
  .showcase {
    .showcase-row {
      margin-left: 3rem;
      margin-right: 3rem;
    }
  }
}

@media(min-width: 1600px) {
  .showcase {
    .showcase-text {
      padding: 6rem;
    }

    .showcase-img {
      width: 60%;
    }

    .showcase-row {
      margin-left: 15rem;
      margin-right: 15rem;
    }
  }
}
//#endregion

//#region TESTIMONIALS

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;

  h1{
    font-size: 3rem;
    font-weight: bold;
  }
}

.testimonials .testimonial-item {
  max-width: 20rem
}

.testimonials .testimonial-item img {
  max-width: 9rem;
}

.card {
  box-shadow:0 2px 8px 0 rgba(0,0,0,0.1);
  max-width: 20rem;
  height: 27rem;
  border: none;
  margin-bottom: 5rem;
  border-radius: .5rem;
    img{
      border-radius: 50%;
      max-width: 8rem;
      height: auto;
      margin-top: -50px;
      margin-right: auto;
      margin-left: auto;
    }
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#testimonials_header {
  margin-bottom: 6rem;
}
//#endregion

//#region CALL TO ACTION
.call-to-action {
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#call_to_action_heading {
  font-weight: 700;
  font-size: 3rem;
}

//#endregion

//#region FOOTER
.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
//#endregion